@font-face {
    font-family: Glitch;
    src: url(/fonts/GlitchInside-0Wjro.otf);
}
.body{
    background: black;
}
.preloader {
    background: #000; 
    width: 100%; height: 100%; 
    position: absolute; 
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    display: flex;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    transition: opacity 0.5s ease;
    font-family: 'Glitch';
}
.triangle {
    margin: auto;
    border-style: solid;
    border-width: 0 125px 216.5px 125px;
    border-color: transparent transparent #f2f2f0 transparent;
    animation-name: triangleMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.triangle:after {
    position: absolute;
    top: 11.5px;
    left: -114px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 115px 199.2px 115px;
    border-color: transparent transparent #090909 transparent;
}
.triangle-wrap {
    margin: auto;
    position: relative;
    width: 250px;
    height: 217px;
}
.triangle--main {
    position: relative;
    z-index: 10;
}
.triangle--red {
    left: 0;
    top: 0;
    position: absolute !important;
    border-color: transparent transparent red transparent;
    animation-delay: 0.5s;
}
.triangle--blue {
    left: 0;
    top: 0;
    position: absolute !important;
    border-color: transparent transparent blue transparent;
    animation-delay: 0.3s;
}
@keyframes triangleMove {
    10% {
        transform: translateX(10px);
        filter: blur(3px);
   }
    20% {
        transform: translateX(4px);
        filter: blur(0);
   }
    30% {
        transform: translateX(-5px) skew(0deg);
        filter: blur(3px);
   }
    40% {
        transform: translateX(7px);
        filter: blur(0);
   }
    50% {
        transform: translateX(3px);
   }
    60% {
        transform: translateX(2px);
        filter: blur(5px);
   }
    70% {
        transform: translateX(-2px);
        filter: blur(0);
   }
    80% {
        transform: translateX(3px);
        filter: blur(2px);
   }
    90% {
        transform: translateX(-3px);
   }
    100% {
        transform: translateX(3px);
   }
}
@keyframes textAnim {
    10% {
        transform: scale(1.2) skew(180deg);
   }
    11% {
        transform: scale(1) skew(180deg);
   }
    70% {
        transform: scale(1) skew(-300deg);
        filter: blur(1px);
   }
    99% {
        transform: scale(1) skew(200deg);
   }
    100% {
        transform: scale(1) skew(-200deg);
   }
}

/* asfasf */

.preloaderGlitch, .preloaderGlow {
    position: absolute;
    text-align: center;
    z-index: 9999;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    background-color: transparent;
    letter-spacing: 20px;
    color: #dfbfbf;
    /* position: relative; */
    /* font-size: 9vw; */
    animation: preloaderGlitch 5s 5s infinite;
}
.preloaderGlitch::before, .preloaderGlow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: black;
    /* overflow: hidden; */
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, preloaderGlitch 5s 5.05s infinite;
}
.preloaderGlitch::after, .preloaderGlow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: black;
    /* overflow: hidden; */
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, preloaderGlitch 5s 5s infinite;
}
@keyframes preloaderGlitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
   }
    2% {
        transform: rotateX(0deg) skewX(0deg);
   }
}
@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(7px 0 60px 0);
   }
    6.6666666667% {
        clip-path: inset(73px 0 11px 0);
   }
    10% {
        clip-path: inset(66px 0 3px 0);
   }
    13.3333333333% {
        clip-path: inset(33px 0 10px 0);
   }
    16.6666666667% {
        clip-path: inset(68px 0 18px 0);
   }
    20% {
        clip-path: inset(90px 0 3px 0);
   }
    23.3333333333% {
        clip-path: inset(59px 0 17px 0);
   }
    26.6666666667% {
        clip-path: inset(13px 0 43px 0);
   }
    30% {
        clip-path: inset(46px 0 19px 0);
   }
    33.3333333333% {
        clip-path: inset(2px 0 35px 0);
   }
    36.6666666667% {
        clip-path: inset(91px 0 3px 0);
   }
    40% {
        clip-path: inset(63px 0 4px 0);
   }
    43.3333333333% {
        clip-path: inset(3px 0 87px 0);
   }
    46.6666666667% {
        clip-path: inset(19px 0 13px 0);
   }
    50% {
        clip-path: inset(34px 0 44px 0);
   }
    53.3333333333% {
        clip-path: inset(4px 0 2px 0);
   }
    56.6666666667% {
        clip-path: inset(70px 0 28px 0);
   }
    60% {
        clip-path: inset(49px 0 38px 0);
   }
    63.3333333333% {
        clip-path: inset(58px 0 12px 0);
   }
    66.6666666667% {
        clip-path: inset(8px 0 37px 0);
   }
    70% {
        clip-path: inset(44px 0 15px 0);
   }
    73.3333333333% {
        clip-path: inset(17px 0 40px 0);
   }
    76.6666666667% {
        clip-path: inset(62px 0 24px 0);
   }
    80% {
        clip-path: inset(30px 0 20px 0);
   }
    83.3333333333% {
        clip-path: inset(27px 0 21px 0);
   }
    86.6666666667% {
        clip-path: inset(76px 0 7px 0);
   }
    90% {
        clip-path: inset(18px 0 5px 0);
   }
    93.3333333333% {
        clip-path: inset(42px 0 30px 0);
   }
    96.6666666667% {
        clip-path: inset(88px 0 12px 0);
   }
    100% {
        clip-path: inset(72px 0 2px 0);
   }
}
@keyframes noise-2 {
    0% {
        clip-path: inset(84px 0 4px 0);
   }
    3.3333333333% {
        clip-path: inset(83px 0 1px 0);
   }
    6.6666666667% {
        clip-path: inset(8px 0 31px 0);
   }
    10% {
        clip-path: inset(38px 0 31px 0);
   }
    13.3333333333% {
        clip-path: inset(29px 0 30px 0);
   }
    16.6666666667% {
        clip-path: inset(84px 0 10px 0);
   }
    20% {
        clip-path: inset(82px 0 19px 0);
   }
    23.3333333333% {
        clip-path: inset(21px 0 55px 0);
   }
    26.6666666667% {
        clip-path: inset(38px 0 61px 0);
   }
    30% {
        clip-path: inset(12px 0 81px 0);
   }
    33.3333333333% {
        clip-path: inset(51px 0 46px 0);
   }
    36.6666666667% {
        clip-path: inset(37px 0 28px 0);
   }
    40% {
        clip-path: inset(77px 0 17px 0);
   }
    43.3333333333% {
        clip-path: inset(9px 0 87px 0);
   }
    46.6666666667% {
        clip-path: inset(89px 0 3px 0);
   }
    50% {
        clip-path: inset(57px 0 25px 0);
   }
    53.3333333333% {
        clip-path: inset(96px 0 2px 0);
   }
    56.6666666667% {
        clip-path: inset(11px 0 80px 0);
   }
    60% {
        clip-path: inset(36px 0 55px 0);
   }
    63.3333333333% {
        clip-path: inset(50px 0 4px 0);
   }
    66.6666666667% {
        clip-path: inset(74px 0 10px 0);
   }
    70% {
        clip-path: inset(70px 0 25px 0);
   }
    73.3333333333% {
        clip-path: inset(29px 0 1px 0);
   }
    76.6666666667% {
        clip-path: inset(86px 0 3px 0);
   }
    80% {
        clip-path: inset(24px 0 1px 0);
   }
    83.3333333333% {
        clip-path: inset(66px 0 19px 0);
   }
    86.6666666667% {
        clip-path: inset(39px 0 12px 0);
   }
    90% {
        clip-path: inset(22px 0 30px 0);
   }
    93.3333333333% {
        clip-path: inset(10px 0 10px 0);
   }
    96.6666666667% {
        clip-path: inset(8px 0 35px 0);
   }
    100% {
        clip-path: inset(11px 0 26px 0);
   }
}
.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
}
.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
}
@keyframes fudge {
    from {
        transform: translate(0px, 0px);
   }
    to {
        transform: translate(0px, 2%);
   }
}
.preloaderGlow {
    text-shadow: 0 0 1000px #dfbfbf;
    color: transparent;
    position: absolute;
    top: 0;
}
@keyframes preloaderGlitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
   }
    2% {
        transform: rotateX(0deg) skewX(0deg);
   }
}


.preloader-finish{
    opacity: 0;
    pointer-events: none;
}